style "theme-panel"
{
 bg[SELECTED]	   = "#3B3B3B"
 bg[NORMAL]	   = "#3B3B3B"
 bg[PRELIGHT]	   = "#404040"
 bg[ACTIVE]	   = "#373737"
 bg[INSENSITIVE]   = "#343434"

 fg[NORMAL]	   = "#E0E0E0"
 fg[PRELIGHT]	   = "#FFFFFF"
 fg[SELECTED]	   = "#A1A1A1"
 fg[ACTIVE]	   = "#A1A1A1"
 fg[INSENSITIVE]   = "#343434"
}

widget "*PanelWidget*"		  style "theme-panel"
widget "*PanelApplet*"		  style "theme-panel"
widget "*fast-user-switch*"	  style "theme-panel"
widget "*CPUFreq*Applet*"	  style "theme-panel"
widget "*indicator-applet*"	  style "theme-panel"
class "PanelApp*"		  style "theme-panel"
class "PanelToplevel*"		  style "theme-panel"
widget_class "*PanelToplevel*"	  style "theme-panel"
widget_class "*Mail*"		  style "theme-panel"
class "*Panel*"		          style "theme-panel"
widget_class "*notif*"		  style "theme-panel"
widget_class "*Notif*"		  style "theme-panel"
widget_class "*Tray*"		  style "theme-panel" 
widget_class "*tray*"		  style "theme-panel"
widget_class "*computertemp*"	  style "theme-panel"
widget_class "*Applet*Tomboy*"	  style "theme-panel"
widget_class "*Applet*Netstatus*" style "theme-panel"

widget "*Xfce*Panel*" style "theme-panel"
class "*Xfce*Panel*"  style "theme-panel"
